{% block content %} 
	<header class="page-header" id="news">
		<div class="header-overlay"></div>
		<div class="row clearfix">
			<div class="column two-thirds">
				<h2>Latest News and Updates from The Lab</h2>
			</div>
			<div class="column one-quarter push-1">
				<!--<nav class="floating-page-nav">
					<ul>
						<li><a href="#">From The Field</a></li>
						<li><a href="#">Good News</a></li>
						<li><a href="#">Lab Notes</a></li>
					</ul>
				</nav>-->
			</div>
		</div>
	</header>
		<section class="page-content">
		<div class="row clearfix">
			<div class="column two-thirds">
			{% collection "news" query "featured=1" %}
				<h2 class="news-intro">Recommended Reading</h2>
				{% for post in collection.items %}
				<article class="scroll-target news-item">
					<span class="premise">{{ post.premise }}</span>
					<h3><a href="{{ post.slug }}.html">{{ post.title }}</a></h3>
					<h4 class="short-desc">{{ post.shortdesc }}</h4>
					<span class="byline">Written by {{ post.author }} on {{ post.date }}</span>
				</article>
				{% endfor %}
			{% endcollection %}
			</div>
			{% include "news-sidebar" %}
		</div>
	</section>
{% endblock %}